<!--<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>-->
        <ion-content class="main-content">
            <form #form="ngForm" [formGroup]="validations_form" (ngSubmit)="login(form)" >
                <ion-grid>
                  <ion-row>
                    <ion-col class="ion-text-center">

                        <ion-img src="assets/images/logo.png" class="ion-text-center logo"></ion-img>

                    </ion-col>
                  </ion-row>
                    <ion-row justify-content-center>
                      <ion-col>
                        <div ion-text-center>
                          <h5 class="ion-text-center">Proceed with your</h5>
                          <h3 class="ion-text-center tag-h3">Login</h3>
                        </div>
                      </ion-col>
                    </ion-row>
                      <ion-row>   
                          <ion-col>
                                  <ion-input formControlName="username" name="username" type="email" placeholder="Email Address" class="login-fields"> 
                                      <ion-icon name="person"></ion-icon>
                                  </ion-input>
                          </ion-col>
                          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.username.errors?.required">
                            Email Address is required.
                          </span>

                      </ion-row>

                          <ion-row>
                            <ion-col>
                                    <ion-input formControlName="password" name="password" type="password" placeholder="Password" class="login-fields" (keyup.enter)="closeKeyboard()">
                                        <ion-icon name="lock-closed"></ion-icon>
                                    </ion-input>
  
                            </ion-col>
                            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
                              Password is required.
                            </span>

                          </ion-row>
                        
                          <ion-row class="forgot-row">
                            <ion-col>
                              <ion-anchor (click)="returnToForgot()">
                              Forgot Password?</ion-anchor>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col>
                                <ion-button expand="full" type="submit">Login</ion-button>
                            </ion-col>
                          </ion-row>
                        
                  </ion-grid>
            </form>
          </ion-content>



