


ion-label {
    color: #ffffff;
    text-transform: capitalize;
    font-family: 'Roboto-Light';
    font-size: 10px;
    margin-top: 5px;
}
.id-card-img {
    width: 27px;
    height: 20px;
}
.profile-img {
    width : 18px ;
    height: 17px;
}
.notification-img {
    width : 18px ;
    height: 18px;
}
.logout-img {
    width : 22px;
    height: 20px;
}