<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="id-card" *ngIf="idCardEnable==true"> 
      <ion-img src="assets/images/id-card.png" class="id-card-img"></ion-img>
      <ion-label>ID Card</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="register-competition" *ngIf="idCardEnable==false">
        <ion-img src="assets/images/id-card.png" class="id-card-img"></ion-img>
        <ion-label>ID Card</ion-label>
      </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-img src="assets/images/profile.png" class="profile-img"></ion-img>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notification">
        <ion-img src="assets/images/notification.png" class="notification-img"></ion-img>
        <ion-label>Notifications</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="logout">
        <ion-img src="assets/images/logout.png" class="logout-img"></ion-img>
        <ion-label>Logout</ion-label>
      </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
