<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Register in a competition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
            <ion-img src="assets/images/logo-gray.png" class="ion-text-center logo"></ion-img>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col class="col-strips">
          <div class="img-container">
              
              <div class="round-row">
                  <ion-icon name="skull" color="danger"></ion-icon>
                  <div class="camera-icon ion-text-center">
                      <ion-img src="assets/images/camera-icon.png" class="ion-text-center"></ion-img>
                  </div>
              </div>
              <ion-grid class="ion-grid-strips">
                  
                  <ion-row class="ion-row-1"> 
                    <div></div>
                  </ion-row>
                  <ion-row class="ion-row-2">
                    <div></div>
                  </ion-row>
              
                  <ion-row class="ion-row-3">        
                    <div></div>
                  </ion-row>
                </ion-grid>
          </div>
          
      </ion-col>

    </ion-row>

<ion-row class="ion-row-label">
  <ion-col>
    <ion-label class="user-name">Ann maree Kopos</ion-label>
  </ion-col>
</ion-row>

<!---</ion-grid>
<ion-grid>-->
  <ion-row class="full ion-margin-bottom ion-margin-start">
    <ion-col class="ion-text-left">
        <ion-radio-group [(ngModel)]="gender" name="gender">
                <ion-radio value="Male"></ion-radio> 
                </ion-radio-group>
      <ion-label class="radio-button-text ion-margin-start">I want to register for next/current season</ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="team-strip full ion-margin-start ion-margin-end">
      <ion-button class="ion-text-left">Team</ion-button>
  </ion-row>
  <ion-row class="ion-margin-top ion-margin-start ion-margin-end">
    <ion-col class="ion-text-left">
        <ion-label class="ion-label-desc">
            I have read and understood the condition of entry for Netball4All.
          </ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin-start ion-margin-end">
    <ion-col class="ion-text-left">
      <ion-label class="ion-label-desc">I also agree to abide by the Rules of Netball4All and the Codes of Conduct of Netball4All. 
        I Understand I must be a paid fully registered playing member of Netball4All Pty Ltd to participate in any Netball4All competitions 
        and to be covered by player accident insurance. I also consent to allowing my/my child's photo to appear on the Netball4All website 
        or advertising material and I will advise in writing if I withdraw my consent. I confirm that the above information is correct.</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-right">
        <ion-button type="submit">Submit</ion-button>

    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
