<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>ID Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
    <ion-col class="ion-text-center">

        <ion-img src="assets/images/logo-gray.png" class="ion-text-center logo"></ion-img>

    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-strips">
        <div class="img-container">
            <div class="round-row">
                <ion-img src="assets/images/demo-pic.jpeg" class="ion-text-center profile-pic"></ion-img>

              <!--  <ion-icon name="skull" color="danger"></ion-icon>-->
            </div>
            <ion-grid class="ion-grid-strips">
                
                <ion-row class="ion-row-1"> 
                  <div></div>
                </ion-row>
                <ion-row class="ion-row-2">
                  <div></div>
                </ion-row>
            
                <ion-row class="ion-row-3">        
                  <div></div>
                </ion-row>
              </ion-grid>
        </div>
        
    </ion-col>
    </ion-row>

<ion-row class="ion-row-label">
  <ion-col>
    <ion-label class="user-name">Ann maree Kopos</ion-label>
  </ion-col>
</ion-row>

</ion-grid>
<ion-grid class="ion-grid-table">
      <ion-row>
        <ion-col class="ion-col-left">
            <ion-img src="assets/images/id-card-gray.png" class="id-card-gray"></ion-img>

          ID:</ion-col>
        <ion-col class="ion-col-right">12345678</ion-col>
      </ion-row>

      <ion-row>
          <ion-col class="ion-col-left">
              <ion-img src="assets/images/calendar-gray.png" class="calendar-gray"></ion-img>
  
              Season:</ion-col>
          <ion-col class="ion-col-right">Summer 2020</ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="ion-col-left">
                <ion-img src="assets/images/group-gray.png" class="group-gray"></ion-img>
    
                Team:</ion-col>
            <ion-col class="ion-col-right">Booya</ion-col>
          </ion-row>

          <ion-row>
              <ion-col class="ion-col-left last">
                  <ion-img src="assets/images/gender-gray.png" class="gender-gray"></ion-img>
      
                  Gender:</ion-col>
              <ion-col class="ion-col-right last">Male</ion-col>
            </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row class="ion-row-label">
            <ion-col>
              <ion-label class="profile-type">Financial</ion-label>
            </ion-col>
          </ion-row>
    </ion-grid>
</ion-content>
