<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>ID Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
    <ion-col class="ion-text-center">

        <ion-img src="assets/images/logo-gray.png" class="ion-text-center logo"></ion-img>

    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-strips">
        <div class="img-container">
            <div class="round-row">
                <ion-img src="{{player.picture}}" class="ion-text-center profile-pic"></ion-img>

              <!--  <ion-icon name="skull" color="danger"></ion-icon>-->
            </div>
            <ion-grid class="ion-grid-strips">
                
                <ion-row class="ion-row-1"> 
                  <div></div>
                </ion-row>
                <ion-row class="ion-row-2">
                  <div></div>
                </ion-row>
            
                <ion-row class="ion-row-3">        
                  <div></div>
                </ion-row>
              </ion-grid>
        </div>
        
    </ion-col>
    </ion-row>

<ion-row class="ion-row-label">
  <ion-col>
    <ion-label class="user-name">{{player.firstname}} {{player.lastname}}</ion-label>
  </ion-col>
</ion-row>

</ion-grid>
<ion-grid class="ion-grid-table">
      <ion-row>
        <ion-col class="ion-col-left">
            <ion-img src="assets/images/id-card-gray.png" class="id-card-gray"></ion-img>
           ID</ion-col>
        <ion-col class="ion-col-right">{{player.registration_number}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-col-left">
            <ion-img src="assets/images/email.png" class="id-card-gray"></ion-img>
           Email</ion-col>
        <ion-col class="ion-col-right">{{player.emailaddress}}</ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="ion-col-left">
              <ion-img src="assets/images/calendar-gray.png" class="calendar-gray"></ion-img>
  
              Season</ion-col>
          <ion-col class="ion-col-right">{{seasonName}}</ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="ion-col-left">
                <ion-img src="assets/images/group-gray.png" class="group-gray"></ion-img>
    
                Team</ion-col>
            <ion-col class="ion-col-right">{{player.team}}</ion-col>
          </ion-row>

          <ion-row>
              <ion-col class="ion-col-left ">
                  <ion-img src="assets/images/gender-gray.png" class="gender-gray"></ion-img>
      
                  Gender</ion-col>
              <ion-col class="ion-col-right ">{{player.gender}}</ion-col>
            </ion-row>

            


           


            <ion-row>
              <ion-col class="ion-col-left ">
                <ion-img src="assets/images/contact-name.png" class="emer-contact-gray"></ion-img>      
                  Mobile</ion-col>
              <ion-col class="ion-col-right ">{{player.mobile}}</ion-col>
            </ion-row>
           

            <ion-row>
              <ion-col class="ion-col-left ">
                <ion-img src="assets/images/contact-persion.png" class="emer-contact-gray"></ion-img>      
                Emgy. CP</ion-col>
              <ion-col class="ion-col-right ">{{player.emergency_contact_person}}</ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="ion-col-left ">
                <ion-img src="assets/images/contact-name.png" class="emer-contact-gray"></ion-img>      
                Emgy. C. NO.</ion-col>
              <ion-col class="ion-col-right ">{{player.emergency_phone_number}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-col-left address-value last">
                <ion-img src="assets/images/address.png" class="emer-contact-gray"></ion-img>      
                  Address</ion-col>
              <ion-col class="ion-col-right address-value last">{{player.street_address}}, {{player.subrub}}, {{stateName}}, {{player.postcode}}</ion-col>
            </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row class="ion-row-label">
            <ion-col>
              <ion-label class="profile-type">{{financial_status}}</ion-label>
            </ion-col>
          </ion-row>
    </ion-grid>
</ion-content>
