<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title >Update Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
    <ion-col class="ion-text-center">

        <ion-img src="assets/images/logo-gray.png" class="ion-text-center logo"></ion-img>

    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-strips">
          <div class="img-container">
              <div class="round-row">
                <!-- <ion-img src="assets/images/demo-pic.jpeg" class="ion-text-center profile-pic"></ion-img>-->
                 <ion-img [src]="player.picture" class="ion-text-center profile-pic" id="profile-pic"></ion-img>
                  
              </div>
              <div class="camera-icon ion-text-center" (click)="takePicture()">
                  <ion-img src="assets/images/camera-icon.png" class="ion-text-center"></ion-img>
              </div>
             
              <ion-grid class="ion-grid-strips">
                  
                  <ion-row class="ion-row-1"> 
                    <div></div>
                  </ion-row>
                  <ion-row class="ion-row-2">
                    <div></div>
                  </ion-row>
              
                  <ion-row class="ion-row-3">        
                    <div></div>
                  </ion-row>
                </ion-grid>
          </div>
          
      </ion-col>

    </ion-row>

<ion-row class="ion-row-label">
  <ion-col>
    <ion-label class="user-name">{{player.firstname}} {{player.lastname}}</ion-label>
  </ion-col>
</ion-row>

</ion-grid>

<ion-grid>

    <ion-row class="full">
        <ion-col class="ion-text-left">
          <ion-label class="ion-label-field">First Name:</ion-label>
          <ion-label class="ion-label-value">&nbsp;&nbsp;{{player.firstname}}</ion-label>
        </ion-col>
        <ion-col class="ion-text-left">
            <ion-label class="ion-label-field">Last Name:</ion-label>
            <ion-label class="ion-label-value">&nbsp;&nbsp;{{player.lastname}}</ion-label>
          </ion-col>
      </ion-row>
  <ion-row class="full">
    <ion-col class="ion-text-left">
      <ion-label class="ion-label-field">ID:</ion-label>
      <ion-label class="ion-label-value">&nbsp;&nbsp;{{player.id}}</ion-label>
    </ion-col>
    <ion-col class="ion-text-left">
        <ion-label class="ion-label-field">Season:</ion-label>
        <ion-label class="ion-label-value">&nbsp;&nbsp;{{seasonName}}</ion-label>
      </ion-col>
  </ion-row>
  <ion-row class="full">
      <ion-col class="ion-text-left">
        <ion-label class="ion-label-field">Gender:</ion-label>
        <ion-label class="ion-label-value">&nbsp;&nbsp;{{player.gender}}</ion-label>
      </ion-col>
      <ion-col class="ion-text-left">
          <ion-label class="ion-label-field">DOB:</ion-label>
          <ion-label class="ion-label-value">&nbsp;&nbsp;{{player.date_of_birth}}</ion-label>
        </ion-col>
    </ion-row>
    <ion-row class="full">
    
        <ion-col class="ion-text-left">
            <ion-label class="ion-label-field">{{financial_status}}</ion-label>
  
          </ion-col>
      </ion-row>
</ion-grid>

<form #form="ngForm" (ngSubmit)="updateProfile(form)">
<!--<ion-input type="hidden" name="picture"></ion-input>-->
<ion-grid class="ion-margin-top">

     <ion-row>
        <ion-col class="ion-text-justify">
          <ion-label class="ion-label-field">Email Address</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="ion-text-justify">
              <ion-input name="emailaddress" type="email" placeholder="Email Address" [(ngModel)]="player.emailaddress" [ngClass]="{'error-input' : !player.emailaddress || player.emailaddress == ''}"></ion-input> 
          </ion-col>
          
        </ion-row>

  <ion-row>
    <ion-col class="ion-text-justify">
      <ion-label class="ion-label-field">Team</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col class="ion-text-justify">
          <ion-input name="team" type="text" placeholder="Team"  [(ngModel)]="player.team"></ion-input> 
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="ion-text-justify">
          <ion-label class="ion-label-field">Mobile</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="ion-text-justify">
              <ion-input name="mobile" type="text" placeholder="Mobile"  [(ngModel)]="player.mobile"></ion-input> 
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="ion-text-justify">
              <ion-label class="ion-label-field">Address</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col class="ion-text-justify">
                  <ion-input name="street_address" type="text" placeholder="Address"  [(ngModel)]="player.street_address"></ion-input> 
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="ion-text-justify">
                  <ion-label class="ion-label-field">State</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col class="ion-text-justify">
                      <ion-select name="state" placeholder="Select" value="{{selectedState}}" [(ngModel)]="selectedState">
                         
                          <ion-select-option *ngFor="let item of states" value="{{item.id}}">{{item.name}}</ion-select-option>

                        </ion-select>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-text-justify">
                      <ion-label class="ion-label-field">Postal Code</ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col class="ion-text-justify">
                          <ion-input name="postcode" type="text" placeholder="Postal Code"  [(ngModel)]="player.postcode" ></ion-input> 
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="ion-text-justify">
                          <ion-label class="ion-label-field">Suburb</ion-label>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col class="ion-text-justify">
                              <ion-input name="subrub" type="text" placeholder="Suburb"  [(ngModel)]="player.subrub"></ion-input> 
                            </ion-col>
                        </ion-row>

        <ion-row>
            <ion-col class="ion-text-justify">
              <ion-label class="ion-label-field">Emergency Contact Person</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col class="ion-text-justify">
                  <ion-input name="emergency_contact_person" type="text" placeholder="Emergency Contact Person"  [(ngModel)]="player.emergency_contact_person"></ion-input> 
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="ion-text-justify">
                  <ion-label class="ion-label-field">Emergency Contact Number</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col class="ion-text-justify">
                      <ion-input name="emergency_phone_number" type="text" placeholder="Emergency Contact Number"  [(ngModel)]="player.emergency_phone_number"></ion-input> 
                    </ion-col>
                </ion-row>
        <ion-row>
          <ion-col class="ion-text-right">
              <ion-button type="submit" [disabled]="form.invalid">Submit</ion-button>

          </ion-col>
        </ion-row>
</ion-grid>
</form>

</ion-content>
