.logo {
    width :115px; height: 115px; display: inline-block;
}
ion-content, .ion-grid-strips ion-row{
    justify-content: center;
    text-align: center;
}
.round-row {
    width: 149px;
    height: 149px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px #ffffff solid;
    background: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
    position: absolute;
}
 .profile-pic{
    width: 100%;
    border-radius: 50%;
    height: 149px;
    object-fit: cover;
}
.ion-row-1 div, .ion-row-2 div, .ion-row-3 div{
    
    height: 20px;
    background: #ffffff;;
    border-radius: 50px;
}
.ion-row-1 div {
    width: 274px;
}
.ion-row-2 div {
    width: 220px;
    margin-top: 15px;
}
.ion-row-3 div {
    width: 180px;
    margin-top: 15px;
}
ion-content{
    --background:#F6F6F6;
}


.img-container {
    display: inherit;
}
.camera-icon ion-img {
    width: 30.89px;
    height: 25.74px;
}
.camera-icon {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    border: 1px solid #111E6C;
    background: #ffffff;
    align-items: center;
    display: flex;
    justify-content: center;
    align-self: stretch;
    position: absolute;
    top: 55px;
    margin-left: 138px;
    cursor : pointer;

}
ion-label.user-name{
    font-family: 'Roboto-Bold';
    font-size: 22px;
    color: #000000;
    text-transform: uppercase;
}
.ion-row-label {
    margin-top: 20px;
    margin-bottom: 20px;
}
ion-label.ion-label-field{
    font-family: 'Roboto-Medium';
    font-size: 16px;
    color: #000000;
    text-transform: capitalize;
}
ion-label.ion-label-value{
    font-family: 'Roboto-Light';
    font-size: 16px;
    color: #000000;
    text-transform: capitalize;
}
  .col-strips {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    justify-self: center;
    justify-items: center;
    flex: auto;
  }

  ion-input, ion-select {
      border: 0.5px solid #CBC6C6;
      height: 41px;
      padding-left: 12px;
      --background : #ffffff;
      font-family: 'Roboto-Light';
      font-size: 14px;
  }

 
  ion-radio, button {
    --color: #ffffff;
    --color-checked:#111E6C;

    --background: #ffffff;
    background: #ffffff;

    --box-shadow: 0px 3px 6px #00000029; 
    box-shadow: 0px 3px 6px #00000029; 

   /* --border: 1x solid #FFFFFF;
    border: 1px solid #FFFFFF; */

    --border-radius: 100%;
    border-radius: 100%;

    --width: 14px;
    width: 14px;

    --height: 14px;
    height: 14px;

    padding: 0px;
    --border-width: 0px;
    --inner-border-radius: 100%;
    text-align: center;

  }
  
  /*ion-radio :checked,*/ .radio-checked {
     
      --background : #111E6C;
      border-width: 0px;
      --border-width:0px;
      --inner-border-radius:100%;


  } 
  /*.button-radio, ion-radio button {
      background: #ffffff; 
      --background: #ffffff;
      border-radius: 100%;
      --border-radius: 100%;
      box-shadow: 0px 3px 6px #00000029;
      --box-shadow: 0px 3px 6px #00000029;
      --color-checked:#111E6C;
        color: #ffffff;
        --color:#ffffff;
        border:1.5px solid #FFFFFF;
        --border:1.5px solid #FFFFFF;
        width: 14px;
        height: 14px;
        --width: 14px;
        --height: 14px;


    
    } */
  
  
ion-label.radio {
    font-family: 'Roboto-Medium';
    font-size: 12px;
    color: #000000;
    display: inline-block;
    vertical-align: baseline;
}
.error-input{
    border-color: #FF0000;
}

ion-router-link{
    color: #111E6C;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
    font-family: "Roboto-Light";

}
.anchor-section ul{
    display: table-cell;
}
.ion-margin-start-2{
margin-inline-start: var(--ion-margin, 10px);
}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {

    .camera-icon {
        margin-left: 55px;
    }
}

ion-select {
    div.select-text.select-placeholder {
       color: get-color(black) !important;
    }
 }
 